<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.1.12.1.min.css"/>

    <title>{{ config["window_title"] }}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/visualizer.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_base.min.css"/>

    <script>
        $( function() {
            $( "#accordion" ).accordion({
                collapsible: true,
                heightStyle: "content", // Avoid that all have the same height
                //active: false  // Start all closed
                active: -1  // Open the last one
            });
            $( "#accordion-initialcoords" ).accordion({
                collapsible: true,
                heightStyle: "content", // Avoid that all have the same height
                active: false  // Start all closed
                //active: -1  // Open the last one
            });
        });
    </script>
    <style>
        .webgl-hidden {
            display: none;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% block custoheads %}
    {% endblock %}

    {% block customcss %}
        {% for cfile in config["custom_css_files"]["process_data"] %}
            <link rel="stylesheet" type="text/css" href="../static/css/custom/{{ cfile }}"/>
        {% endfor %}
    {% endblock %}

    <script src="../static/js/iframeResizer.contentWindow.min.js"></script>

</head>
<body onresize='resize_canvases()'>

<div id="above">

    <div id='maintitle'>
        {% block pagetitle %}
            <h1 style="text-align: center;">{{ config["page_title"] }}</h1>
        {% endblock %}
    </div>

</div>

{% include "visualizer_content.html" %}

{% block customjs %}
    {% for jsfile in config["custom_js_files"]["input_data"] %}
        <script src="../static/js/custom/{{ jsfile }}"></script>
    {% endfor %}
{% endblock %}

<div style ="position: relative" data-iframe-height></div>
</body>
</html>
