<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_base.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_input.min.css" />
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/jquery-ui.1.12.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.1.12.1.min.css" />

    <title>oxiMACHINE</title>
    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true,
                heightStyle: "content", // Avoid that all have the same height
                active: false // Start all closed
            });

            $("#fileformatSelect").change(function () {
                if ($(this).val() == "xyz-ase")
                    $("#xyzFormatFields").show();
                else
                    $("#xyzFormatFields").hide();
            });
        });
    </script>

    {% block customheads %}
    {% endblock %}

    <script src="../static/js/iframeResizer.contentWindow.min.js"></script>
</head>

</head>

<body>
    <div id='container'>
        <div id='maintitle'>
            {% block mofoxpredtitle %}
            <h1 style="text-align: center;"><span style="font-weight: bold;">oxiMACHINE</span>: A tool to predict
                oxidation states of MOFs</h1>
            {% endblock %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            Warning:
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <!--<h2><a href="#tool">Skip the introduction and jump directly to the tool</a></h2>-->

        {% block aboutblock %}
        <div id="accordion">
            <h2>What oxiMACHINE does</h2>
            <div>
                <p>This tool takes  <strong>a crystal structure</strong> and predicts the oxidation state for each metal site. Note that 
                    <ul>
                        <li>We automatically attempt to calculate the primitive structure and will show the primitive structure in the visualizer</li>
                        <li>Limit calculations in this web app to structures with less than 500 atoms</li>
                        <li>We attempt to detect atomic overlaps and will return an error if we find overlaps</li>
                        <li>We trained the model on oxidation states of MOFs deposited in the MOF subset of the Cambridge Structure Database</li>
                    </ul>
                </p>
                <p>
                In addition to the oxidation state predictions, we also output
                <ul>
                    <li>The confidence in the assignment </li>
                    <li>The feature values for each metal site</li>
                </ul>
                </p>
            </div>

            <h2>Acknowledgment</h2>
            <div>
                This work is supported by the European Research Council (ERC) Advanced Grant <a   href="https://cordis.europa.eu/project/rcn/197913/factsheet/en">(Agreement No.666983, MaGic)</a> and  the computing facilities of <a href='https://www.epfl.ch/research/facilities/scitas/'>SCITAS, EPFL</a>.
            </div>

            
            <h2>How to cite</h2>
            <div>
             <p>If you use this tool, please cite the following work:   <a href="https://doi.org/10.5281/zenodo.3567011"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.3567011.svg" alt="DOI"></a>
            </p>
                <p>
                    In your program, we use the following libraries, please also consider acknowledging them: 
                    <ul>
                        <li> <a href='https://pymatgen.org/'> pymatgen </a></li>
                        <li> <a href='https://hackingmaterials.lbl.gov/matminer/'>matminer</a></li>
                        <li> <a href='https://scikit-learn.org/stable/index.html'> sklearn</a></li>
                        <li> <a href='https://flask.palletsprojects.com/en/1.1.x/'>flask</a></li>
                    </ul>
                </p>
                <p>Note: if you want to use the code on your computer, you can download the
                    python code from <a href="https://github.com/kjappelbaum/oximachinetool/settings" target="_blank">Github tepo</a>.
            </div>
        </div>
        {% endblock %}
        
        <div>
        <h2><a name="tool"></a>Upload your structure</h2>
        <div style="margin-left: 20px; margin-right: 20px">
            <form action="../process_structure/" enctype="multipart/form-data" method="post">
                <div class='alert alert-info'>
                    <div class='row'>
                        <div class='col-xs-12 col-sm-6'>
                            <label for="file">Upload a crystal structure:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input type="file" name="structurefile" size="100">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <label for="fileformat">Select here the file format:</label>
                        </div>
                        <div class='col-sm-6'>
                            <select name="fileformat" id="fileformatSelect">
                                <option value="cif">CIF</option>
                            </select>
                        </div>
                    </div>
                    <div class='row' style="text-align:center">
                        <p class='small'> <br>By continuing, you agree with the <a href="../termsofuse/"
                                target="_blank">terms of use</a> of this service.</p>
                        <input type="submit" value="Calculate my structure" class="btn btn-default">
                    </div>

            </form>
        </div>
         </div>
        <h2>Otherwise, pick an example</h2>
        <form action="../process_example_structure/" method="post">
            <div style="margin-left: 20px; margin-right: 20px" >
                <div class='alert alert-info'>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label for="examplestructure">Select here an example structure:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <select name="examplestructure">
                                <option value='cui_ii_btc'>Cu(I/II)-BTC</option>
                                <option value='sno'>SnO</option>
                                <option value='sno2'>SnO<sub>2</sub></option>
                                <option value='bao'>BaO</option>
                                <option value='bao2'>BaO<sub>2</sub></option>
                            </select>
                        </div>
                    </div>
                    <div class='row' style="text-align: center">
                        <input type="submit" value="Calculate this example" class="btn btn-default">
                    </div>
                </div>
            </div>
        </form>
    </div>

    
    <div style="position: relative" data-iframe-height></div>
</body>

</html>