<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>oxiMACHINE</title>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.1.12.1.min.css" />
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/jquery-ui.1.12.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/datatables.min.css"/>
    <script type="text/javascript" src="../static/js/datatables.min.js"></script>
    <script src="../static/js/popperjs.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/visualizer.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_base.min.css" />
    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/OrbitControls.min.js"></script>

    <!-- Next two lines optional, only needed if we want to use the SVG renderer -->
    <script src="../static/js/Projector.min.js"></script>
    <script src="../static/js/SVGRenderer.min.js"></script>

    <script src="../static/js/BZVisualizer.min.js"></script>
    <script src="../static/js/webglcheck.min.js"></script>
    <script src="../static/js/clipboard.min.js"></script>
    <script src="../static/js/download.min.js"></script>

    <!-- To visalize the feature importance plots -->
    <script type="text/javascript" src="../static/js/shap.min.js"></script>

    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true,
                heightStyle: "content", // Avoid that all have the same height
                active: false  // Start all closed
                //active: 0 // Open the first one
            });
            $("#accordion-initialcoords").accordion({
                collapsible: true,
                heightStyle: "content", // Avoid that all have the same height
                active: false // Start all closed
                //active: -1  // Open the last one
            });
        });
    </script>
    <style>
        .webgl-hidden {
            display: none;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="../static/js/jsmol/JSmol.min.nojq.js"></script>
    <script src="../static/js/visualization.js"></script>

    <script>
        var jsondata = {{ jsondata|safe }};
        var mainBZVisualizer = new BZVisualizer();
        $(document).ready(function () {
            mainBZVisualizer.loadBZ(canvasID = 'canvas3d', infoID = 'info', jsondata = jsondata);
        });

        // global variable
        var structureviewer = null;


        var resize_canvases = function () {
            mainBZVisualizer.resizeRenderer(); // BZ visualizer
            // resize structure viewer
            if (structureviewer) {
                parentcanvas = document.getElementById('structure');
                the_width = parentcanvas.offsetWidth;
                // the_height = parentcanvas.offsetHeight;
                var jsmolcontent = document.getElementById('jmolApplet_appletinfotablediv');
                jsmolcontent.style.width = the_width + "px";
                console.log(jsmolcontent, the_width, the_height);
            }
        }
    </script>

    <script type="text/javascript">
        startWebGLCheck();
    </script>

    <script src="../static/js/iframeResizer.contentWindow.min.js"></script>

</head>

<body onresize>
    <script>
        $(document).ready(function () {
        $('table.featuretable').DataTable({
        "order": [[ 2, "desc" ]]
        });
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

    <div id="above">

        <div id="maintitle">
            <h1><span style="font-weight: bold;">oxiMACHINE: Predicting oxidation states for MOFs.</h1>
        </div>

        <div id="topinfo">
            <div id="accordion-initialcoords">
                <h2>Show parsed input coordinates (please double-check here if the parser worked properly)</h2>
                <div>

                    <h3>Input cell vectors (&#8491;)</h3>
                    <table class="center">
                        <thead>
                            <th style="padding-right: 15px; text-align: center">v</th>
                            <th style="text-align: center">x</th>
                            <th style="text-align: center">y</th>
                            <th style="text-align: center">z</th>
                        </thead>
                        <tbody>
                            {% for v in inputstructure_cell_vectors %}
                            <tr>
                                <td style="padding-right: 15px; text-align: center">v<sub>{{ v[0] }}</sub></td>
                                <td style="text-align: right"><code>{{ "%.10f" % v[1]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % v[2]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % v[3]|float }}</code></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Input atom coordinates (scaled)</h3>
                    <table class="center">
                        <thead>
                            <th style="padding-right: 15px; text-align: center">Element</th>
                            <th style="text-align: center">r<sub>1</sub></th>
                            <th style="text-align: center">r<sub>2</sub></th>
                            <th style="text-align: center">r<sub>3</sub></th>
                        </thead>
                        <tbody>
                            {% for b in inputstructure_atoms_scaled %}
                            <tr>
                                <td style="padding-right: 15px; text-align: center">{{ b[0] }}</td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[1]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[2]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[3]|float }}</code></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Input atom coordinates (Cartesian, &#8491;)</h3>
                    <table class="center">
                        <thead>
                            <th style="padding-right: 15px; text-align: center">Element</th>
                            <th style="text-align: center">x</th>
                            <th style="text-align: center">y</th>
                            <th style="text-align: center">z</th>
                        </thead>
                        <tbody>
                            {% for b in inputstructure_atoms_cartesian %}
                            <tr>
                                <td style="padding-right: 15px; text-align: center">{{ b[0] }}</td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[1]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[2]|float }}</code></td>
                                <td style="text-align: right"><code>{{ "%.10f" % b[3]|float }}</code></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="webglcheckwrapper">
            <div id="support">
                <div class="webgl-hidden" id="have-javascript">
                    <div class="webgl-hidden webgl-div" id="webgl-yes">
                        <div id="webgl-experimental">
                            <div class="alert alert-warning">
                                Your browser support for WebGL is marked as
                                experimental. This means
                                3D content (crystal structure) may not be shown as expected.
                                <br />
                                You may want to consider an <a href="http://get.webgl.org" target="_blank">upgrade of
                                    your browser</a>.
                            </div>
                        </div>
                        <!-- <div>
                WebGL detected, all good!
              </div> -->
                        <div id="logo-container">
                            <!-- Placeholder needed for testing -->
                            <canvas id="webgl-logo" style="width: 1px; height: 1px;" /></canvas>
                        </div>
                    </div>
                    <div class="webgl-hidden webgl-div" id="webgl-disabled">
                        <div class="alert alert-danger">
                            Your browser seems to support WebGL, but it is disabled or unavailable. If possible, please
                            ensure that you are running the latest drivers for your video card, or enable WebGL in your
                            browser settings.
                            <br /><br />
                            For more help, please visit <a href="http://get.webgl.org/troubleshooting"
                                target="_blank">this page</a>.
                        </div>
                    </div>
                    <div class="webgl-hidden webgl-div" id="webgl-no">
                        <div class="alert alert-danger">
                            <p>We are sorry, but your browser does not seem to support WebGL, so we cannot show 3D
                                objects like the crystal structure.</p>
                            <p>You may want to visit <a href="http://get.webgl.org" target="_blank">this page</a> to get
                                a list of
                                recent browsers that support WebGL.</p>
                        </div>
                    </div>
                </div>
                <div id="no-javascript">
                    <div class="alert alert-danger">
                        PROBLEM DETECTED! <br />

                        You must enable JavaScript to use this web service, otherwise the content will not render
                        properly.
                    </div>
                </div>
                <script>
                    // Hide div ASAP
                    element = document.getElementById('no-javascript');
                    element.className = element.className + " webgl-hidden";
                </script>
            </div>
        </div>
    </div>



    <div id='above'>
        <div id='structuretitle'>
            <h2> Structure</h2>
            <p><em>Drag to rotate, scroll to zoom, double-click to enable/disable interaction</em></p>
        </div>
        <div id='structure'>
            <div class="shadow-box">
                <div class="plot-diagram">
                    <div class="structure-container" id="structure-content">
                        <div id="crystal" ondblclick="toggleStrVisInteraction(false);"></div>
                        <div id="str-overlay" class="overlay-div" ondblclick="toggleStrVisInteraction(true);">
                            <span id="str-overlay-span"
                                style="display: table-cell; vertical-align: middle; text-align: center;">
                                Double click to toggle interaction
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jsmol-options", style="margin-top: 20px">
        
                <div class="option-section">
                    <h4 class="inline-header">Camera:</h4>
                    <button id="centerX" onclick="centerXaxis(jmolApplet)">x</button>
                    <button id="centerY" onclick="centerYaxis(jmolApplet)">y</button>
                    <button id="centerZ" onclick="centerZaxis(jmolApplet)">z</button>
                </div>

                <div class="option-section">
                    <div class="row">
                        <div class="checkbox-option" id="bonds">
                            <label>
                                <input id="bonds-input" style='margin-right:4px' type="checkbox"
                                    onchange="showBonds(jmolApplet);" checked>bonds
                                <a href="#" data-toggle="tooltip" title="Show bonds"><sup>[?]</sup></a>
                            </label>
                        </div>
                        <div class="checkbox-option" id="oxlabels">
                            <label>
                                <input id="labels-input" style='margin-right:4px' type="checkbox"
                                    onchange="labelOxStates(jmolApplet, metal_indices, prediction_labels);" checked>oxidation state labels
                                <a href="#" data-toggle="tooltip" title="Display oxidation state assignments"><sup>[?]</sup></a>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox-option" id="sphere">
                            <label>
                                <input id="spheres-input" style='margin-right:4px' type="checkbox"
                                    onchange="showSpheres(jmolApplet)">space-filling
                                <a href="#" data-toggle="tooltip" title="Show atoms as spheres"><sup>[?]</sup></a>
                            </label>
                        </div>
                        <div class="checkbox-option" id="spin">
                            <label><input id="spin-input" style='margin-right:4px' type="checkbox"
                                    onchange="toggleRotation(jmolApplet)">rotation</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="rawcode">
        <h2>Predictions</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Metal Site</th>
                <th>Prediction</th>
                <th>Confidence Rating <a href="#" data-toggle="tooltip" title="Confidence rating based on the number of agreeing base estimators (knn, gradient boosting, logistic regression, SVM)."><sup>[?]</sup></a> </th>
                <th>Predicted Probability</th>
                <th>Predictions of Base Models <a href="#" data-toggle="tooltip" title="The base estimators are knn, gradient boosting, logistic regression, and SVM."><sup>[?]</sup></a> </th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in predictions_output %}
                <tr>
                    <td> {{ prediction[0] }} </td>
                    <td> {{ prediction[1] }} </td>
                    <td>   
                        <div id="HASH">
                            <span>low</span>
                            <span>high</span>
                        </div>

                            <div class="progress">
                                <div class="{{ prediction[5] }}" role="progressbar" style="width: {{ prediction[4] }}%" aria-valuenow={{ prediction[4] }} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                    
                    </td>
                    <td style="text-align: left">{{ "%.3f" % prediction[2]|float }}</td>
                    <td> {{ prediction[3] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>


    <div id='rawcode'>
        <h2><a name="downloadablecoords"></a>Detailed data</h2>
        <p>Click on the header to open a section</p>

        <div id="accordion">
      
            
            <h3>Feature importance </h3>
            <div>
                <p>
                    Note that the feature importance scores in this app are calculated with a crude estimate. The base value is the average prediction of our model, i.e. the prediction the model would give with uninformative features. The plot then shows the most important features that shift the prediction for a particular metal site away from the base value. The colorcoding indicates the direction into which the feature moves the prediction and the area indicates the importance.
                </p>
            {% for k, v in featurization_output.items() %}
            
                <div id="tablekpoints">
                    <h2>{{ k }}</h2>
                    {{ v|safe }}
                </div>
            {% endfor %}
            </div>
            <h3>Feature values</h3>
            <div>
                {% for k, v in feature_values.items() %}
                <div id="tablekpoints">
                    <h2> {{ k }}</h2>
                    <table id="" class="featuretable">
                    <thead> 
                    <tr>
                        <th>
                            feature
                        </th>
                        <th>
                            value (percentile position)<a href="#" data-toggle="tooltip" title="A percentile position of, for example, 80% means that 80% of the scores for this feature in the training set are below the given score."><sup>[?]</sup>
                            </a>
                        </th>
                        <th>
                            category
                        </th>
                    </tr>
                    </thead>
                    <tbody> 
                    {% for name, value in v.items() %}
                    <tr>
                            <th> {{ name }} </th>
                            <td style="text-align: right">{{ "%.3f" % value[0]|float  }} <span style="color:{{ value[2] }}">({{  value[1] }})</span></td>
                            <td>
                                {{ value[3] }}
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script>
        // Activate clipboard buttons
        var clipboard = new Clipboard('.clipboardbtn');
        structureviewer= jsmolCrystal({{ xsfstructure|tojson|safe }}, "structure-content","jmolApplet", [1,1,1]);
        var metal_indices = {{ metal_indices|tojson|safe }};
        var prediction_labels = {{ prediction_labels|tojson|safe }};

        $(document).ready(function () {
            var divjsmol = document.getElementById('crystal');
            var jsmolcontent = document.getElementById('jmolApplet_appletinfotablediv');
            divjsmol.appendChild(jsmolcontent);
            $('[data-toggle="tooltip"]').tooltip({
                placement: "top"
            });

            labelOxStates(jmolApplet, metal_indices, prediction_labels);

            enableDoubleTap(structureviewer['_mouseInterface'], function () {
                toggleStrVisInteraction(false);
            }, ignoreOnMove = true);

            var stroverlay = document.getElementById('str-overlay');
            stroverlay.onmouseenter = function () {
                this.style.backgroundColor = "rgba(230,230,230,0.5)";
                document.getElementById('str-overlay-span').innerText =
                    "Double click to toggle interaction";
                console.log(this, 'enter');
            }
            stroverlay.onmouseleave = function () {
                // 0.0 for alpha doesn't work properly, apparently
                this.style.backgroundColor = "rgba(255,255,255,0.01)";
                document.getElementById('str-overlay-span').innerText = "";
                console.log(this, 'leave');
            }

            // Enable double-tap events for phones
            enableDoubleTap(stroverlay, function () {
                toggleStrVisInteraction(true);
            });
        });
    </script>

    <div id='finalinfo'>
        <p><span style="font-weight: bold;">Technical info</span>: Time spent to compute quantities (featurization, prediction and interpretation):
            {{ '%.3f' % compute_time }} s. Model version: {{ model_version }}.
        </p>
        <p> 
            More information about the features and the model can be found in the <a href='https://chemrxiv.org/articles/Using_Collective_Knowledge_to_Assign_Oxidation_States/11604129/1'>preprint on Chemrxiv (DOI: 10.26434/chemrxiv.11604129.v1)</a>.
        </p>
    </div>

    </div>

    <div style="position: relative" data-iframe-height></div>
</body>

</html>