git+git://github.com/kjappelbaum/cif_check.git@b56c11d23f168215d4d97db8a92f812a1920060c#egg=cifcheck
oximachinerunner==0.2a0
shap==0.32.1
ipython==7.8.0
six==1.14.0
scikit-learn==0.21.3
apricot-select==0.4.0
numeral