<div class="alert alert-warning">
    <p>The about section is compulsory. To customize the text here, please
    <ul>
        <li>create a template file with the content of what you want to write in this section (in HTML)
        </li>
        <li>store it in <code>templates/user_templates</code></li>
        <li>in the config file, create a <code>templates</code> dictionary,
            if not yet there, and set the variable <code>about</code> to point
            to you custom template:
            <code>
<pre>
templates:
   - about: "custom_about.html"
</pre>
            </code>
        </li>
    </ul>
    </p>
</div>
