<div class="alert alert-warning">
<p>You need to add forms to <code>select_content</code> to replace this empty placeholder.</p>
<p>In the config file, create a <code>templates</code> dictionary,
    if not yet there, and set the variable <code>select_content</code> to point
    to you custom template:
    <code>
    <pre>
templates:
- select_content: "custom_select_content.html"
</pre>
    </code>
</p>
<p>You can also add the following if you want to add at the top the standard structure loader:
    <code>
    <pre>
use_upload_structure_block: true
</pre>
    </code>
</p>
</div>
