shap==0.35.0 # pinning due to frequent API changes
oximachinerunner>=1.2.0 # use always the latest
scikit-learn==1.5.0 # pinning for reproducibility
ipython # needed for SHAP
tbb # threading for numba
